
h1 {color:blue;  background-color:yellow;}
h2,h3,h4 {color:blue;}

h4.heading {
	margin-top:0px;
	padding-bottom:20px;
}

h1.title {
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10px;
	border-style:solid;	
	border-right-style:none;
	border-left-style:none;
}

body {
	margin-left:20px;
	margin-right:20px;
	max-width:200mm;
}

pre {
	padding-top:10px;
	padding-bottom:5px;
	padding-left:10px;
	/* margin-left:30px; */
	background-color:rgb(240,240,240);
}

hr {
	margin-top:20px;
	border-color:blue;
}


